main {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 55%;
    transform: translateX(-50%);
    margin-top: -100px;
    .diseaseListSymptoms {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 20px;
    }
    .categoryName {
        font-size: 1.5em;
        color: rgb(92, 92, 92);
        margin-top: 20px;
    }
    .diseaseText {
        font-size: 1.2em;
        color: rgba(0, 0, 0, 0.632);
        margin-top: 20px;
    }
}