#diseaseName {
    font-size: 48em;
    color: rgb(92, 92, 92);
    margin-top: 20px;
}

main {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 55%;
    transform: translateX(-50%);
    margin-top: -100px;
    .diseaseListSymptoms {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgba(144, 124, 157, 0.432);
        border-radius: 30px;
        font-size: 20px;
    }
    .categoryName {
        font-size: 1.8em;
        color: rgb(92, 92, 92);
        margin-top: 20px;
    }
    .diseaseText {
        font-size: 1.4em;
        max-width: 600px;
        color: rgba(0, 0, 0, 0.632);
        margin-top: 20px;
    }
    #diseaseName {
        font-size: 2.3em;
        color: rgba(0, 9, 31, 0.598);
        margin-top: 20px;
    }
    .diseaseContainer {
        h4 {
            &.hidden {
                visibility: visible !important;
                display: none;
            }
            &.visible {
                display: block;
                transition: opacity 1s ease-in-out;
                opacity: 1;
            }
        }
        &:hover {
            h4 {
                &.hidden {
                    visibility: visible !important;
                    // color : black;
                    display: block;
                    opacity: 0;
                    transition: opacity 1s ease-in-out;
                    &:hover {
                        opacity: 1;
                    }
                }
                &.visible {
                    display: none;
                }
            }
        }
    }
    .longDescContainer {
        p {
            &.hidden {
                visibility: visible !important;
                display: none;
            }
            &.visible {
                display: block;
            }
        }
        &:hover {
            p {
                &.hidden {
                    visibility: visible !important;
                    display: block;
                    opacity: 0;
                    transition: opacity 1s ease-in-out;
                    &:hover {
                        opacity: 1;
                    }
                }
                &.visible {
                    display: none;
                }
            }
        }
    }
    .treatmentContainer {
        p {
            &.hidden {
                visibility: visible !important;
                display: none;
            }
            &.visible {
                display: block;
            }
        }
        &:hover {
            p {
                &.hidden {
                    visibility: visible !important;
                    display: block;
                    opacity: 0;
                    transition: opacity 1s ease-in-out;
                    &:hover {
                        opacity: 1;
                    }
                }
                &.visible {
                    display: none;
                }
            }
        }
    }
}