@font-face {
    font-family: 'FF Mark';
    src: local('FF Mark Bold'), local('FF-Mark-Bold'), url('../fonts/Mark-Bold.woff2') format('woff2'), url('../fonts/Mark-Bold.woff') format('woff'), url('../fonts/Mark-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'FF Mark', sans-serif;
    font-size: 16px;
    margin: 0;
    overflow-y: none;
    scroll-behavior: smooth;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(152, 169, 255, 0.414) 100%);
    padding: 0 5%;
    background-repeat: no-repeat;

    header {
        padding: 2em 0;

        div.container {
            display: flex;
            justify-content: start;
            flex-direction: row;
            align-items: center;

            img {
                padding: 0 1.5em 0 0;
            }

            div.title {
                h2 {
                    font-size: 2.3rem;
                    margin: 0;
                    line-height: 2rem;
                }

                h3 {
                    font-size: 1.5rem;
                    margin: 0 0 0 1px;
                    line-height: 1rem;
                }
            }
        }
    }

    main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        background: #fff;
        padding: 2em;
        width: 80%;
        border-radius: 40px;

        div.searchbar form {
            width: 100%;
            position: relative;

            input {
                width: fill-available;
                padding: 1em 1.3em;
                border-radius: 30px;
                border: 1px solid #ccc;
            }

            button {
                position: absolute;
                top: 0;
                right: 0;
                background: #C8BFFF;
                border-radius: 30px;
                border: none;
                width: 56px;
                height: 100%;
                color: #596275;
                transition: width 0.3s ease-in-out;
                box-shadow: 0px 0px 23px 2px rgba(0, 0, 0, 0.13);

                span {
                    display: none;
                    transition: display 0.3s ease-in-out;
                }

                &:hover {
                    width: 15%;

                    span {
                        display: inline;
                    }
                }
            }
        }

        div.class {
            margin: 2em 0 0 0;

            h2.class-title {
                font-size: 14px;
                color: #BDBDBD;
            }
        }

        div.symptomList {
            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                padding: 0;
                margin: 0;

                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 1em 2em;
                    background-color: #F0F0F0;
                    border-radius: 30px;
                }
            }
        }

        div.infosList {
            div.infos {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                flex-wrap: wrap;
                align-items: center;
                padding: 1em;
                border-radius: 30px;

                a.infos-container {
                    padding: 1em;
                    border-radius: 30px;
                    height: 180px;
                    width: 28%;
                    text-decoration: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    color: #fff;
                    margin: 1em 0;

                    img {
                        width: 30px;
                        height: 30px;
                        margin: 0 1em 0 0;
                        border-radius: 100%;
                        border: 3px solid #fff;
                    }

                    div.infos-text {
                        margin: 5px 0 0 0;

                        h3 {
                            font-size: 1rem;
                            margin: 0;

                            &.hidden {
                                font-size: 0rem;
                                display: none;
                            }
                        }

                        h4 {
                            font-size: .7rem;
                            margin: 0;
                        }
                    }

                    &:hover {
                        div.infos-text {
                            h3 {
                                &.hidden {
                                    font-size: 1rem;
                                    display: block;
                                }

                                &.visible {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}