main {
    overflow: hidden;
    div.searchbar {
        width: 120%;
        ul.searchBarResults {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            flex-wrap: nowrap;
            overflow-x: auto;
            padding: 0;
            margin: 1em 0 0;
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                flex: 0 0 auto;
                padding: 1em 2em;
                margin: 0 .5em;
                background-color: #C8BFFF;
                border-radius: 30px;
                a {
                    text-decoration: none;
                    color: #000;
                }
            }
        }
        form {
            width: 85%;
            position: relative;
            input {
                width: 95%;
                padding: 1em;
                border-radius: 30px;
                border: 1px solid #ccc;
            }
            button {
                position: absolute;
                top: 0;
                right: 0;
                background: #C8BFFF;
                border-radius: 30px;
                border: none;
                width: 56px;
                height: 100%;
                color: #596275;
                transition: 0.2s ease-in-out;
                box-shadow: 0 0 23px 2px rgba(0, 0, 0, 0.13);
                span {
                    transition: opacity 5s ease-in-out;
                    display: none;
                }
                &:hover {
                    cursor: pointer;
                    width: 8%;
                    span {
                        display: block;
                        cursor: pointer;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
    div.class {
        margin: 2em 0 0;
        h2.class-title {
            font-size: 14px;
            color: #BDBDBD;
        }
    }
    div.symptomList {
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: nowrap;
            overflow-x: auto;
            padding: 0;
            margin: 0;
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                flex: 0 0 auto;
                padding: 1em 2em;
                margin: 0 .5em;
                background-color: #F0F0F0;
                border-radius: 30px;
            }
        }
    }
    div.infosList {
        div.infos {
            display: flex;
            flex-direction: row;
            justify-content: start;
            flex-wrap: nowrap;
            overflow-x: auto;
            align-items: center;
            a.infos-container {
                padding: 1em;
                border-radius: 60px 30px;
                height: 180px;
                width: 28%;
                text-decoration: none;
                display: flex;
                flex-direction: column;
                justify-content: end;
                flex: 0 0 auto;
                color: #fff;
                margin: 1em .5em;
                img {
                    width: 30px;
                    height: 30px;
                    margin: 0 1em 0 0;
                    border-radius: 100%;
                    border: 3px solid #fff;
                }
                div.infos-text {
                    margin: 5px 0 0;
                    h3 {
                        font-size: 1rem;
                        margin: 0;
                        &.hidden {
                            font-size: 0;
                            display: none;
                        }
                    }
                    h4 {
                        font-size: .7rem;
                        margin: 0;
                    }
                }
                &:hover {
                    transition: 1s;
                    div.infos-text {
                        h3 {
                            &.hidden {
                                font-size: 1rem;
                                display: block;
                            }
                            &.visible {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.chatbox {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30%;
    max-width: 300px;
    min-width: 80px;
    height: 39%;
    margin-bottom: 80px;
    background: #d4ceffea;
    border-radius: 30px;
    box-shadow: 0 0 23px 2px rgba(0, 0, 0, 0.13);
    z-index: 1;
    margin-right: 30px;
    .chatbox-header {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 30px 30px 0 0;
        background: #d4ceffea;
        h3 {
            font-size: 1.2rem;
            margin-left: 50%;
            transform: translateX(-50%);
        }
        span {
            position: absolute;
            top: 5px;
            right: 12px;
            font-size: 1.2rem;
            cursor: pointer;
            transition: 0.2s ease-in-out;
            &:hover {
                color: rgb(156, 0, 0);
            }
        }
        button {
            background: transparent;
            border: none;
            color: #dfdaff;
            font-size: 1rem;
            margin: 0;
            padding: 0;
            &:hover {
                color: #ddbfff;
            }
        }
    }
    .chatbox-body {
        height: calc(80% - 1em);
        overflow-y: scroll;
        padding: 1em;
        .chatbox-message {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            margin: 0 0 .5em;
            .chatbox-message-content {
                overflow: hidden;
                p.UserMessage {
                    border-radius: 30px;
                    padding: .5em 1em;
                    text-align: right;
                    color: rgb(61, 56, 56);
                    font-size: 0.9rem;
                    p.AIMessage {
                        background: #fff;
                        border-radius: 30px;
                        padding: .5em 1em;
                        text-align: left;
                        color: rgb(95, 95, 95);
                        font-size: 1rem;
                    }
                }
            }
            .chatbox-message-time {
                font-size: 1rem;
                margin: 0;
            }
        }
    }
    .chatbox-footer {
        border-radius: 30px 30px 0 0;
        background: #C8BFFF;
        input {
            position: absolute;
            top: 305px;
            width: calc(95%);
            height: 30px;
            padding: .5em;
            border-radius: 30px;
            border: 1px solid #ccc;
        }
        button {
            position: absolute;
            top: 340px;
            background: #2d1d3d42;
            border-radius: 30px;
            min-width: 200px;
            border: none;
            color: rgb(231, 231, 231);
            font-size: 2rem;
            margin: 0;
            padding: 0;
            margin-top: 10px;
            margin-left: 50%;
            margin-bottom: 10px;
            transform: translateX(-50%);
            &:hover {
                color: #ffffff;
                background: #422b5842;
                cursor: pointer;
            }
        }
    }
}