main {
    margin-left: 55%;
    transform: translateX(-50%);
    margin-top: -100px;
    overflow: hidden;
    div.searchbar {
        max-width: 900px;
        ul.searchBarResults {
            display: flex;
            overflow: scroll;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            flex-wrap: nowrap;
            overflow-x: auto;
            padding: 0;
            margin: 1em 0 0;
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                flex: 0 0 auto;
                padding: 1em 2em;
                margin: 0 .5em;
                background-color: #C8BFFF;
                border-radius: 30px;
                a {
                    text-decoration: none;
                    color: #000;
                }
            }
        }
        form {
            background: #fff;
            display: flex;
            width: 100%;
            position: relative;
            border: 1px solid #ccc;
            border-radius: 30px;
            p {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                padding: 0.5em 1em;
                margin: .5em .25em;
                background-color: #C8BFFF;
                border-radius: 30px;
                span {
                    font-weight: bold;
                    margin: 0 0 0 .5em;
                    transition: all .2s ease-in-out;
                }
                &:hover {
                    cursor: pointer;
                    span {
                        color: rgb(255, 0, 0);
                    }
                }
            }
            input {
                width: fill-available;
                padding: 1em 1.3em;
                border-radius: 30px;
                border: none;
                &:focus {
                    outline: none;
                }
            }
            button {
                position: absolute;
                top: 0;
                right: 0;
                background: #C8BFFF;
                border-radius: 30px;
                border: none;
                width: 56px;
                height: 100%;
                color: #596275;
                transition: width 0.3s ease-in-out;
                box-shadow: 0 0 23px 2px rgba(0, 0, 0, 0.13);
                span {
                    display: none;
                    transition: display 0.3s ease-in-out;
                }
                &:hover {
                    width: 15%;
                    span {
                        display: inline;
                    }
                }
            }
        }
    }
    div.diagnosisList div.infos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        a.info-content {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 0 0 auto;
            padding: 1em 2em;
            margin: 1em .5em;
            background-color: rgb(235, 235, 235);
            border-radius: 30px;
            text-decoration: none;
            color: #000;
            h3 {
                font-weight: bold;
                margin: 0;
                font-size: 1.5em;
                span {
                    font-weight: normal;
                    font-size: .7em;
                    margin: 0;
                }
            }
            p {
                margin: .5em 0 0;
                font-size: .8em;
                color: rgb(109, 109, 109);
            }
        }
    }
}